<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css"
	rel="stylesheet" type="text/css">
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link
	href="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Sortable-Bootstrap-Tables-Bootstrap-Sortable/Contents/bootstrap-sortable.css"
	rel="stylesheet" type="text/css">
<head>
<title>Index Page</title>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">
		<form action="/products" class="form-inline">
			<div class="form-group mb-2">
				<input type="text" class="form-control" name="itemName"
					placeholder="Search Items" /> <input type="submit" value="Search"
					class="btn btn-default" />
			</div>
		</form>
		<div class="alert alert-success" id="alert-item-added-success"
			role="alert" th:if="${successMessage}">
			Item added to cart!
			<script>
				$("#alert-item-added-success").fadeTo(5000, 500).slideUp(500,
						function() {
							$("#alert-item-added-success").slideUp(500);
						});
			</script>
		</div>
		<div class="card">
			<div class="card card-body">
				<table
					class="table table-hover table-striped table-bordered sortable">
					<thead>
						<tr>
							<th>Name <i class="fas fa-sort"></i></th>
							<th>Manufacturer <i class="fas fa-sort"></i></th>
							<th>Category <i class="fas fa-sort"></i></th>
							<th>Price <i class="fas fa-sort"></i></th>
							<th>Quantity <i class="fas fa-sort"></i></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item:${items}">
							<td th:text="${item.itemName}"></td>
							<td th:text="${item.manufacturer}"></td>
							<td th:text="${item.category}"></td>
							<td th:text="${item.price}"></td>
							<td th:text="${item.quantity}"></td>
							<td><a th:href="@{/viewItem(id=${item.id})}" class="btn btn-dark">View Item</a></td>
							<td sec:authorize="hasRole('ROLE_USER')"><a
								th:href="@{/addToCart(id=${item.id})}" class="btn btn-dark">Add
									To Cart</a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								th:href="@{/updateQuantity(id=${item.id})}" class="btn btn-dark">Update
									Quantity</a></td>
							<form th:action="@{/deleteItem(id=${item.id})}" method="post"  th:object="${item}">
								<input type="hidden" name="_method" value="DELETE">
							<td sec:authorize="hasRole('ROLE_ADMIN')"><button type="submit" class="btn btn-dark">Delete
									Item</button></td>
							</form>
						</tr>
					</tbody>

				</table>
				<script
					src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
				<script
					src="https://www.jqueryscript.net/demo/jQuery-Plugin-For-Sortable-Bootstrap-Tables-Bootstrap-Sortable/Scripts/bootstrap-sortable.js"></script>
			</div>
		</div>
	</div>
</body>
</html>