<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Index Page</title>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">
		<h2 style="color:white">Hello <span th:utext="${name}"/> This is your shopping cart</h2>
		<div class="card">
			<div class="card card-body">
				<table class="table table-hover table-striped table-bordered">
					<thead>
						<tr>
							<th>Name</th>
							<th>Manufacturer</th>
							<th>Category</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item:${items}">
							<td th:text="${item.itemName}"></td>
							<td th:text="${item.manufacturer}"></td>
							<td th:text="${item.category}"></td>
							<td th:text="${item.price}"></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>
</body>
</html>