<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Your Cart</title>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">
		<div class="card">
			<div class="card card-body">
				<table class="table table-hover table-striped table-bordered">
					<thead>
						<tr>
							<th>Name</th>
							<th>Manufacturer</th>
							<th>Category</th>
							<th>Price</th>
							<th>Quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cartItems:${cartItems}">
							<td th:text="${cartItems.item.itemName}"></td>
							<td th:text="${cartItems.item.manufacturer}"></td>
							<td th:text="${cartItems.item.category}"></td>
							<td th:text="${cartItems.item.price}"></td>
							<td th:text="${cartItems.amount}"></td>
						</tr>
					</tbody>

				</table>
				<h2>
					Your current total is: <b>&euro;<span th:utext="${total}"></span></b>
				</h2>
				<a th:href="@{/order(id=${cart.id})}" class="btn btn-dark">
					Order</a>
			</div>
		</div>
	</div>
</body>
</html>