<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/main_layout}" >
<head>
 <title>Index Page</title>
</head>
<body  style="background-color: #93B874;">

     <div  layout:fragment="content" class="container mySpace">
          <div class="jumbotron">
          <h2><i>Welcome to Guess Guru! Where your football predictions make you money.<i></i></h2>
          
          </div>
     </div>
</body>
</html>