
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

<header th:fragment="header">

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">GuessGuru</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarColor01" aria-controls="navbarColor02"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/">Home
						<i class="fas fa-home"></i><span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item" sec:authorize="!isAuthenticated()"><a
					class="nav-link" href="/register">Register <i
						class="far fa-file-alt"></i></a></li>
				<li class="nav-item" sec:authorize="isAuthenticated()"><a
					class="nav-link" href="/tournaments">Tournaments <i
						class="far fa-futbol"></i></a></li>
				<li class="nav-item" sec:authorize="isAuthenticated()"><a
					class="nav-link" href="/standings">Standings <i
						class="fas fa-list-ol"></i></a></li>
				<li class="nav-item" sec:authorize="hasRole('ROLE_USER')"><a
					class="nav-link" href="/topup">Top Up <i class="fas fa-plus"></i></a>
				</li>
								<li class="nav-item" sec:authorize="hasRole('ROLE_USER')"><a
					class="nav-link" href="/withdraw">Withdraw <i class="fas fa-minus-square"></i></a>
				</li>
				<li class="nav-item" sec:authorize="!isAuthenticated()"><a
					class="nav-link" href="/login">Log in <i
						class="fas fa-angle-double-up"></i></a></li>
				<li class="nav-item" sec:authorize="isAuthenticated()"><a
					class="nav-link" href="/profile">Profile <i class="fas fa-male"></i></a>
				</li>
				<li class="nav-item" sec:authorize="isAuthenticated()"><a
					class="nav-link" href="/viewAllFixtures">View all Fixtures <i
						class="fas fa-male"></i></a></li>
				<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a
					class="nav-link" href="/users">Users <i class="far fa-user"></i></a>
				</li>
				<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a
					class="nav-link" href="/addTournament">Add Tournament <i
						class="far fa-plus-square"></i></i></a></li>
				<li class="nav-item"><a class="nav-link" href="/">About <i
						class="fas fa-info-circle"></i></a></li>

			</ul>
			<form class="form-inline" th:action="@{/addFixturesDB}" method="post"
				sec:authorize="hasRole('ROLE_ADMIN')">
				<button class="btn btn-secondary" type="submit">
					Update Fixtures in Database <i class="fas fa-info-circle"></i>
				</button>
			</form>
			<form class="form-inline my-2 my-lg-0" th:action="@{/logout}"
				method="post" sec:authorize="isAuthenticated()">
				<input class="form-control mr-sm-2" type="hidden" />
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
			</form>
		</div>
	</nav>


</header>